.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #171A21;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hometext {
  color: #ffffff;
  text-align: center;
  margin-top: 1rem;
  background: #617073;
  font-weight: bold;
  font-size: larger;
  margin-left: 6rem;
  margin-right: 6rem;
  border-radius: 12px;
}

.logRegButtons {
  display: flex;
  justify-content: right; /* Change to right alignment */
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

/* .logRegButtons a {
  float: left;
  color: #ffffff; 
  text-align: center;
  padding: 14px 50px; 
  text-decoration: none;
  font-size: 17px; 
  box-shadow: inset 0 0 0 0 #171A21;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .2s ease-in-out;
  font-weight: 700;
  display: flex;
} */

.logRegButtons a,
.login-button, 
.register-button { 
  float: left; /* Not necessary with flexbox */
  color: #ffffff;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
  box-shadow: inset 0 0 0 0 #EAC435; /* Updated colors */
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .2s ease-in-out;
  font-weight: bold;
  display: flex;
}

.logRegButtons a:hover,
.login-button:hover,
.register-button:hover  {
  font-weight: bold;
  box-shadow: inset 0 -50px 0 0 #EAC435;
  color: #ffffff;
}

/* .logRegButtons a:hover {
  font-weight: bold; 
  box-shadow: inset 0 -50px 0 0 #EAC435;
  color: #ffffff;
} */

.title-text {
  display: flex;
 justify-content: center;
 
}

.page-links {
  display: flex; 
  
  padding: 0;
  margin-left: -23rem;
}

/* .page-links a {
 float: left;
 color: #ffffff; 
 text-align: center;
 padding: 14px 50px; 
 text-decoration: none;
 font-size: 17px; 
 box-shadow: inset 0 0 0 0 #EAC435;
 transition: color .3s ease-in-out, box-shadow .2s ease-in-out;
 font-weight: bold;
 display: flex;
} */
.page-links a {
  display: block;
  text-decoration: none; 
  color: inherit; 
  padding: 0.5rem 1rem; 
  margin-right: 1rem; 
  font-size: 20px;
  font-weight: bold;
  box-shadow: inset 0 0 0 0 #EAC435; /* Initial box-shadow */
  transition: box-shadow 0.2s ease-in-out; /* Transition for box-shadow */
} 


.page-links a:hover {
  font-weight: bold;     /* Redundant, already set in the base style */
  box-shadow: inset 0 -50px 0 0 #EAC435; /* Hover box-shadow effect */
  color: #ffffff;        /* Likely desired on hover */
}


header {
  background-color: #55d6aa;
}

header h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 900; 
  text-align: left;
  margin-bottom: 0.5rem;
  padding-left: 5px;
}

.login-container { 
  width: 300px; 
  padding: 20px; 
  background-color: #ffffff; 
  border-radius: 5px; box-shadow: 0 0 10px #EAC435; 
  margin: 100px auto; 
}

.form-control { 
  margin-bottom: 10px; 
}

.form-control label { 
  display: block; 
  margin-bottom: 5px; 
}

.form-control select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-control input { 
  width: 100%; 
  padding: 10px; 
  border: 1px solid #000000; 
  border-radius: 5px; 
  box-sizing: border-box; 
}

button { 
  width: 100%; 
  padding: 10px; 
  background-color: #03B591; 
  color: #ffffff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px;
}

/* button:hover { 
  background-color: #03B591; 
} */

footer {
  text-align: center;
  margin-top: auto;
background: rgba(0, 0, 0, 0.5);
  
}

.copyright {
margin-bottom: 5px;
margin-top: 5px;
color: #fff;
font-size: 1rem;
}

/* .register-container{
  width: 600px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px; box-shadow: 0 0 10px #EAC435;
  margin: 100px auto;
} */



/* .login-button,
.register-button {
  background-color: #3b5998;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 10px; 
}

.register-button {
  background-color: #28a745;
} */


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #55d6aa; 
  color: #fff;
}

.logo { /* Assuming this is the container for your logo image */
  height: 6rem; /* Make the logo container take full navbar height */
}


.logo-image {
  height: 100%;   /* Make the image take full height of its container (.logo) */
  object-fit: contain; /* Prevent image distortion while maintaining aspect ratio */
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links button {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

.auth-buttons {
  display: flex;
}

.auth-buttons button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
} 

.auth-buttons a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}